@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --initial-background: #173b58;
  --initial-color: #005ca5;
  --warning-background: #ffcc6e;
  --warning-color: #ff9800;
  --danger-background: #fd7e75;
  --danger-color: #ff5722;
  --alert-background: #f44336;
  --alert-color: #ab1a0f;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 28rem;
  transition: all 1s linear;
  user-select: none;
}

.main.initial {
  background: var(--initial-background);
  color: white;
  text-shadow: 2px 0 0 var(--initial-color), -2px 0 0 var(--initial-color), 0 2px 0 var(--initial-color), 0 -2px 0 var(--initial-color), 1px 1px var(--initial-color), -1px -1px 0 var(--initial-color), 1px -1px 0 var(--initial-color), -1px 1px 0 var(--initial-color);
}

.main.warning {
  background: var(--warning-background);
  color: white;
  text-shadow: 2px 0 0 var(--warning-color), -2px 0 0 var(--warning-color), 0 2px 0 var(--warning-color), 0 -2px 0 var(--warning-color), 1px 1px var(--warning-color), -1px -1px 0 var(--warning-color), 1px -1px 0 var(--warning-color), -1px 1px 0 var(--warning-color);
}

.main.danger {
  background: var(--danger-background);
  color: white;
  text-shadow: 2px 0 0 var(--danger-color), -2px 0 0 var(--danger-color), 0 2px 0 var(--danger-color), 0 -2px 0 var(--danger-color), 1px 1px var(--danger-color), -1px -1px 0 var(--danger-color), 1px -1px 0 var(--danger-color), -1px 1px 0 var(--danger-color);
}

.main.alert {
  background: var(--danger-background);
  color: white;
  text-shadow: 2px 0 0 var(--alert-color), -2px 0 0 var(--alert-color), 0 2px 0 var(--alert-color), 0 -2px 0 var(--alert-color), 1px 1px var(--alert-color), -1px -1px 0 var(--alert-color), 1px -1px 0 var(--alert-color), -1px 1px 0 var(--alert-color);
  animation: alert-bg 4s linear infinite;
}

@keyframes alert-bg {
  0% { background: var(--danger-background); }
  50% { background: var(--alert-background); }
}

.number {
  width: 35%;
  text-align: center;
}

.hidden{
  display: none;
}

.intermitent {
  opacity: 0;
  animation: intermitent 2s linear infinite;
}

@keyframes intermitent {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}

.toolbar {
  position: absolute;
  top: 0;
  width: calc(100% - 40px);
  padding: 20px;
  font-family: sans-serif;
  font-size: 1rem;
  color: white;
  text-align: end;
  user-select: none;
}

.icons {
  transition: 0.2s;
  user-select: none;
}

.icon {
  height: 48px;
  width: 48px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.3;
}

.icon:hover{
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.settings-container {
  display: none;
  transition: 0.2s;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.settings-panel {
  margin-right: 20px;
  display: flex;
  width: calc(100% - 20px);
  justify-content: space-evenly;
}

.input {
  margin: 5px 0;
}

.checkbox {
  cursor: pointer;
}
.checkbox input{
  cursor: pointer;
}

/* Icons */
.icon#full-screen-on {
  background-image: url('icons/arrow-expand.png');
}
.icon#full-screen-off {
  background-image: url('icons/fullscreen-exit.png');
}
.icon#settings {
  background-image: url('icons/cog.png');
}
.icon#close-settings {
  background-image: url('icons/close-thick.png');
}